.productos{
  padding: 50px 0px;
  justify-items: center;
}

.contenedor-producto{
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}


.producto{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  margin: 5px;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  color: white;
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
}

.producto img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
 
}

.producto h3{
  margin: 10px 0px;
}

.producto p{
  margin: 0px;
}

.boton-tienda{
  width: 100%;
  padding: 5px 35px;
  background-color: #e4b400;
  color: black;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  transition: background-color 0.3s;
}


@media (max-width: 768px) {
  .producto {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .producto {
    width: 45%; 
  }
}
